* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-image: url('./img/45-degree-fabric-light.png');

}
.submit-button, .cancel-button {
    background-color: darkgray;
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
    float: left;
}


.filter {
    display: flex;
    justify-content: flex-start;
}

html {
    box-sizing: border-box;
}

input {
    border-radius: 10px;
}

textarea {
    border-radius: 10px;
}

.bookmark-form {
    display: flex;
    align-content: center;
    align-self: center;
}

.new-button {
    border-radius: 10;
    
}